.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
.nav {
    position: relative; /* Use relative positioning instead of absolute */
    align-items: center;
    margin-bottom: 25px;
  }
  
  .nav .ul {
    list-style-type: none;
    margin-right: 2.5em; /* Use relative units like em */
    display: flex;
    align-items: center;
  }

  .nav .ul1 {
    list-style-type: none;
    margin-right: 3.2em; /* Use relative units like em */
    display: flex;
    align-items: center;
  }
  
  .nav .li {
    display: inline-block;
  }
  
  .nav .li:not(:last-child) {
    margin-right: 10em; /* Use relative units like em */
  }

  .nav .li1:not(:last-child) {
    margin-right: 13em; /* Use relative units like em */
  }
  
  .nav .link {
    border: none;
    font-weight: 600;
    font-size: 1.9em; /* Use relative units like em */
    height: 100%;
    color: var(--text-secondary);
  }

  .nav .link1 {
    border: none;
    font-weight: 600;
    font-size: 1.6em; /* Use relative units like em */
    height: 100%;
    color: var(--text-secondary);
  }
  
  
